@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

.posts, #postTimeline .posts, #setting_new, #userList, #userDetail header, section#userPosts h2, section#userPosts .posts, #detailPosts, #companys, #companyDetail header, section#companyUsersPosts h2 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 15px;
  background-color: #fdfdfd;
  margin-bottom: 15px;
}

#section3, header#header, #postTimeline .posts header, #postTimeline #setting_new header, #postTimeline #userList header, #postTimeline #userDetail header header, #userDetail #postTimeline header header, #postTimeline section#userPosts h2 header, section#userPosts #postTimeline h2 header, #postTimeline #detailPosts header, #postTimeline #companys header, #postTimeline #companyDetail header header, #companyDetail #postTimeline header header, #postTimeline section#companyUsersPosts h2 header, section#companyUsersPosts #postTimeline h2 header, #postTimeline .posts .commentArea ul, #postTimeline #setting_new .commentArea ul, #postTimeline #userList .commentArea ul, #postTimeline #userDetail header .commentArea ul, #userDetail #postTimeline header .commentArea ul, #postTimeline section#userPosts h2 .commentArea ul, section#userPosts #postTimeline h2 .commentArea ul, #postTimeline #detailPosts .commentArea ul, #postTimeline #companys .commentArea ul, #postTimeline #companyDetail header .commentArea ul, #companyDetail #postTimeline header .commentArea ul, #postTimeline section#companyUsersPosts h2 .commentArea ul, section#companyUsersPosts #postTimeline h2 .commentArea ul, #userList #friendList li a, #userDetail header, section#userPosts #setting_new .commentArea ul, section#userPosts #userList .commentArea ul, section#userPosts #userDetail header .commentArea ul, #userDetail section#userPosts header .commentArea ul, section#userPosts h2 .commentArea ul, section#userPosts .posts .commentArea ul, section#userPosts #detailPosts .commentArea ul, section#userPosts #companys .commentArea ul, section#userPosts #companyDetail header .commentArea ul, #companyDetail section#userPosts header .commentArea ul, section#userPosts section#companyUsersPosts h2 .commentArea ul, section#companyUsersPosts section#userPosts h2 .commentArea ul, #detailPosts header, #detailPosts .commentArea #commentForm, #detailPosts .commentArea .comments, #companys #companyList li a, #companyDetail header, section#companyUsersPosts header, section#companyUsersPosts .commentArea ul {
  overflow: hidden;
  *zoom: 1;
}

html {
  height: 100%;
  font-size: 13px;
  font-family: Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}
html body {
  height: 100%;
  background: #d9d9d9;
  position: relative;
  z-index: 100;
}

#indexHeader {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #19B5FE;
}
#indexHeader h1#logo {
  padding: 5px;
}
#indexHeader h1#logo a {
  display: inline-block;
  height: 40px;
  line-height: 40px;
}
#indexHeader h1#logo a img {
  width: auto;
  height: 40px;
}

#main {
  width: 100%;
  height: 395px;
}
#main div#mainVisual {
  width: 100%;
  position: absolute;
  z-index: 1;
}
#main div#mainVisual img {
  width: 100%;
  height: auto;
}
#main #mainContent {
  width: 100%;
  text-align: center;
  position: absolute;
  z-index: 2;
}
#main #mainContent h1#mainLogo {
  display: inline-block;
  margin-top: 20px;
}
#main #mainContent h2 {
  font-size: 18px;
  color: #fdfdfd;
}
#main #mainContent a {
  display: inline-block;
}
#main #mainContent a#face {
  height: 38px;
  margin-top: 15px;
  margin-bottom: 15px;
}

#section2 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  background-color: #daeaf4;
}
#section2 h2 {
  color: #34a8e1;
  font-size: 20px;
}
#section2 p {
  line-height: 150%;
}
#section2 ul {
  margin-top: 20px;
  margin-bottom: 20px;
}
#section2 ul li {
  margin-bottom: 30px;
  color: #6e6e6e;
}
#section2 ul li h3 {
  margin: 10px 0;
  line-height: 150%;
  font-size: 18px;
}

#section3 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #19B5FE;
  color: #fdfdfd;
}
#section3 #left {
  width: 60%;
  float: left;
  margin-left: 10px;
}
#section3 #left h3 {
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
}
#section3 #left h3 img {
  float: left;
  width: 40px;
  height: auto;
}
#section3 #left p {
  margin-top: 20px;
  text-align: left;
  line-height: 170%;
  margin-bottom: 20px;
}
#section3 #right {
  float: right;
  margin-top: 20px;
}

#section4 {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fdfdfd;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
#section4 h3 {
  line-height: 150%;
  font-size: 18px;
  margin-bottom: 20px;
}

#section5 {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #6abee3;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
#section5 a {
  width: auto;
  height: 38px;
  display: inline-block;
  margin-top: 20px;
}

#section5 + footer {
  clear: both;
  background-color: #19B5FE;
}

footer {
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 12px;
  background-color: #343434;
  color: #fdfdfd;
}

header#header {
  background-color: #19B5FE;
  width: 100%;
  height: 50px;
}
header#header #sideMenuBtn {
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 14%;
  height: 50px;
  line-height: 30px;
  padding: 10px;
}
header#header #sideMenuBtn label img {
  width: auto;
  height: 30px;
}
header#header h1 {
  float: left;
  width: 70%;
  text-align: center;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
header#header h1 a {
  display: inline-block;
  width: 72%;
  text-align: center;
  height: 50px;
  line-height: 50px;
}
header#header h1 a img {
  width: auto;
  height: 45px;
  vertical-align: middle;
}
header#header #setting {
  float: right;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 50px;
  line-height: 30px;
  padding: 10px;
}
header#header #setting a {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  height: 100%;
}
header#header #setting a img {
  width: auto;
  height: 30px;
}

#side {
  display: none;
}

#side:checked + aside {
  left: 0px;
}

aside {
  width: 150px;
  position: absolute;
  top: 50px;
  left: -150px;
  -moz-transition: left 0.3s;
  -o-transition: left 0.3s;
  -webkit-transition: left 0.3s;
  transition: left 0.3s;
  z-index: 300;
  background-color: #343434;
}
aside ul li {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  border-bottom: solid 1px #d9d9d9;
}
aside ul li a {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  padding: 10px;
  text-decoration: none;
  color: #fdfdfd;
}

#wrapper {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding-top: 15px;
  padding-left: 2%;
  padding-right: 2%;
  background-color: #d9d9d9;
  position: relative;
  z-index: 100;
}

#sendPost {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  background-color: #fdfdfd;
  margin-bottom: 15px;
}
#sendPost #postText {
  width: 100%;
  height: 100px;
}
#sendPost #postText select {
  -moz-appearance: none;
  -webkit-appearance: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 50%;
  height: 30px;
  line-height: 30px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  margin-bottom: 5px;
  border: none;
  border-bottom: solid 1px #d9d9d9;
  text-align: center;
}
#sendPost #postText textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: solid 1px #d9d9d9;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  padding: 5px;
  width: 100%;
  height: 100px;
}
#sendPost #sendBtn {
  margin-top: 40px;
  width: 100%;
  height: 40px;
  line-height: 40px;
}
#sendPost #sendBtn input[type="submit"],
#sendPost #sendBtn a {
  display: inline-block;
  text-decoration: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: none;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-color: #19B5FE;
  color: #fdfdfd;
}

#postTimeline {
  width: 100%;
}
#postTimeline .posts header h2, #postTimeline #setting_new header h2, #postTimeline #userList header h2, #postTimeline #userDetail header header h2, #userDetail #postTimeline header header h2, #postTimeline section#userPosts h2 header h2, section#userPosts #postTimeline h2 header h2, #postTimeline #detailPosts header h2, #postTimeline #companys header h2, #postTimeline #companyDetail header header h2, #companyDetail #postTimeline header header h2, #postTimeline section#companyUsersPosts h2 header h2, section#companyUsersPosts #postTimeline h2 header h2 {
  float: left;
  width: 70px;
  height: 70px;
  overflow: hidden;
}
#postTimeline .posts header h2 img, #postTimeline #setting_new header h2 img, #postTimeline #userList header h2 img, #postTimeline #userDetail header header h2 img, #userDetail #postTimeline header header h2 img, #postTimeline section#userPosts h2 header h2 img, section#userPosts #postTimeline h2 header h2 img, #postTimeline #detailPosts header h2 img, #postTimeline #companys header h2 img, #postTimeline #companyDetail header header h2 img, #companyDetail #postTimeline header header h2 img, #postTimeline section#companyUsersPosts h2 header h2 img, section#companyUsersPosts #postTimeline h2 header h2 img {
  width: 70px;
  height: auto;
}
#postTimeline .posts header .userInfo, #postTimeline #setting_new header .userInfo, #postTimeline #userList header .userInfo, #postTimeline #userDetail header header .userInfo, #userDetail #postTimeline header header .userInfo, #postTimeline section#userPosts h2 header .userInfo, section#userPosts #postTimeline h2 header .userInfo, #postTimeline #detailPosts header .userInfo, #postTimeline #companys header .userInfo, #postTimeline #companyDetail header header .userInfo, #companyDetail #postTimeline header header .userInfo, #postTimeline section#companyUsersPosts h2 header .userInfo, section#companyUsersPosts #postTimeline h2 header .userInfo {
  display: inline-block;
  height: 70px;
  float: left;
  margin-left: 20px;
  position: relative;
}
#postTimeline .posts header .userInfo h3, #postTimeline #setting_new header .userInfo h3, #postTimeline #userList header .userInfo h3, #postTimeline #userDetail header header .userInfo h3, #userDetail #postTimeline header header .userInfo h3, #postTimeline section#userPosts h2 header .userInfo h3, section#userPosts #postTimeline h2 header .userInfo h3, #postTimeline #detailPosts header .userInfo h3, #postTimeline #companys header .userInfo h3, #postTimeline #companyDetail header header .userInfo h3, #companyDetail #postTimeline header header .userInfo h3, #postTimeline section#companyUsersPosts h2 header .userInfo h3, section#companyUsersPosts #postTimeline h2 header .userInfo h3 {
  margin-bottom: 10px;
}
#postTimeline .posts header .userInfo time, #postTimeline #setting_new header .userInfo time, #postTimeline #userList header .userInfo time, #postTimeline #userDetail header header .userInfo time, #userDetail #postTimeline header header .userInfo time, #postTimeline section#userPosts h2 header .userInfo time, section#userPosts #postTimeline h2 header .userInfo time, #postTimeline #detailPosts header .userInfo time, #postTimeline #companys header .userInfo time, #postTimeline #companyDetail header header .userInfo time, #companyDetail #postTimeline header header .userInfo time, #postTimeline section#companyUsersPosts h2 header .userInfo time, section#companyUsersPosts #postTimeline h2 header .userInfo time {
  display: inline-block;
  position: absolute;
  bottom: 20px;
}
#postTimeline .posts .postDetails, #postTimeline #setting_new .postDetails, #postTimeline #userList .postDetails, #postTimeline #userDetail header .postDetails, #userDetail #postTimeline header .postDetails, #postTimeline section#userPosts h2 .postDetails, section#userPosts #postTimeline h2 .postDetails, #postTimeline #detailPosts .postDetails, #postTimeline #companys .postDetails, #postTimeline #companyDetail header .postDetails, #companyDetail #postTimeline header .postDetails, #postTimeline section#companyUsersPosts h2 .postDetails, section#companyUsersPosts #postTimeline h2 .postDetails {
  width: 100%;
  margin-top: 10px;
}
#postTimeline .posts .postDetails .companyName, #postTimeline #setting_new .postDetails .companyName, #postTimeline #userList .postDetails .companyName, #postTimeline #userDetail header .postDetails .companyName, #userDetail #postTimeline header .postDetails .companyName, #postTimeline section#userPosts h2 .postDetails .companyName, section#userPosts #postTimeline h2 .postDetails .companyName, #postTimeline #detailPosts .postDetails .companyName, #postTimeline #companys .postDetails .companyName, #postTimeline #companyDetail header .postDetails .companyName, #companyDetail #postTimeline header .postDetails .companyName, #postTimeline section#companyUsersPosts h2 .postDetails .companyName, section#companyUsersPosts #postTimeline h2 .postDetails .companyName {
  margin-bottom: 10px;
}
#postTimeline .posts .postDetails p, #postTimeline #setting_new .postDetails p, #postTimeline #userList .postDetails p, #postTimeline #userDetail header .postDetails p, #userDetail #postTimeline header .postDetails p, #postTimeline section#userPosts h2 .postDetails p, section#userPosts #postTimeline h2 .postDetails p, #postTimeline #detailPosts .postDetails p, #postTimeline #companys .postDetails p, #postTimeline #companyDetail header .postDetails p, #companyDetail #postTimeline header .postDetails p, #postTimeline section#companyUsersPosts h2 .postDetails p, section#companyUsersPosts #postTimeline h2 .postDetails p {
  width: 100%;
  line-height: 150%;
  word-break: break-all;
}
#postTimeline .posts .commentArea, #postTimeline #setting_new .commentArea, #postTimeline #userList .commentArea, #postTimeline #userDetail header .commentArea, #userDetail #postTimeline header .commentArea, #postTimeline section#userPosts h2 .commentArea, section#userPosts #postTimeline h2 .commentArea, #postTimeline #detailPosts .commentArea, #postTimeline #companys .commentArea, #postTimeline #companyDetail header .commentArea, #companyDetail #postTimeline header .commentArea, #postTimeline section#companyUsersPosts h2 .commentArea, section#companyUsersPosts #postTimeline h2 .commentArea {
  width: 100%;
}
#postTimeline .posts .commentArea ul, #postTimeline #setting_new .commentArea ul, #postTimeline #userList .commentArea ul, #postTimeline #userDetail header .commentArea ul, #userDetail #postTimeline header .commentArea ul, #postTimeline section#userPosts h2 .commentArea ul, section#userPosts #postTimeline h2 .commentArea ul, #postTimeline #detailPosts .commentArea ul, #postTimeline #companys .commentArea ul, #postTimeline #companyDetail header .commentArea ul, #companyDetail #postTimeline header .commentArea ul, #postTimeline section#companyUsersPosts h2 .commentArea ul, section#companyUsersPosts #postTimeline h2 .commentArea ul {
  margin-top: 15px;
  border-top: solid 1px #d9d9d9;
}
#postTimeline .posts .commentArea ul li, #postTimeline #setting_new .commentArea ul li, #postTimeline #userList .commentArea ul li, #postTimeline #userDetail header .commentArea ul li, #userDetail #postTimeline header .commentArea ul li, #postTimeline section#userPosts h2 .commentArea ul li, section#userPosts #postTimeline h2 .commentArea ul li, #postTimeline #detailPosts .commentArea ul li, #postTimeline #companys .commentArea ul li, #postTimeline #companyDetail header .commentArea ul li, #companyDetail #postTimeline header .commentArea ul li, #postTimeline section#companyUsersPosts h2 .commentArea ul li, section#companyUsersPosts #postTimeline h2 .commentArea ul li {
  text-align: center;
  float: left;
  width: 50%;
  margin-top: 8px;
}
#postTimeline .posts .commentArea ul li a, #postTimeline #setting_new .commentArea ul li a, #postTimeline #userList .commentArea ul li a, #postTimeline #userDetail header .commentArea ul li a, #userDetail #postTimeline header .commentArea ul li a, #postTimeline section#userPosts h2 .commentArea ul li a, section#userPosts #postTimeline h2 .commentArea ul li a, #postTimeline #detailPosts .commentArea ul li a, #postTimeline #companys .commentArea ul li a, #postTimeline #companyDetail header .commentArea ul li a, #companyDetail #postTimeline header .commentArea ul li a, #postTimeline section#companyUsersPosts h2 .commentArea ul li a, section#companyUsersPosts #postTimeline h2 .commentArea ul li a {
  display: inline-block;
  width: 100%;
  height: 25px;
  line-height: 25px;
  color: #343434;
  text-decoration: none;
}

#setting_new h2 {
  margin-bottom: 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: solid 1px #19B5FE;
  font-size: 15px;
  padding-bottom: 5px;
}
#setting_new form div {
  margin-bottom: 5px;
}
#setting_new form input[type="text"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  line-height: 30px;
  margin-bottom: 15px;
  border: solid 1px #343434;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
#setting_new form select {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: solid 1px #343434;
  width: 100%;
  height: 35px;
  margin-bottom: 15px;
}
#setting_new form div#userIcon {
  width: 200px;
  height: 200px;
  margin: 15px auto;
  overflow: hidden;
}
#setting_new form div#userIcon img {
  width: 100%;
  height: auto;
}
#setting_new form input[type="submit"] {
  width: 100%;
  height: 35px;
  line-height: 30px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: #19B5FE;
  color: #fdfdfd;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: none;
}

#userList h2 {
  margin-bottom: 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: solid 1px #19B5FE;
  font-size: 15px;
  padding-bottom: 5px;
}
#userList #friendList li {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
}
#userList #friendList li a {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  text-decoration: none;
  color: #343434;
}
#userList #friendList li a #userIcon {
  float: left;
  width: 70px;
  height: 70px;
  overflow: hidden;
}
#userList #friendList li a #userIcon img {
  width: 100%;
  height: auto;
}
#userList #friendList li a #userInfo {
  float: left;
  display: inline-block;
  width: 150px;
  height: 70px;
  margin-left: 20px;
  position: relative;
}
#userList #friendList li a #userInfo h3 {
  position: absolute;
  top: 10px;
}
#userList #friendList li a #userInfo #school {
  position: absolute;
  bottom: 10px;
}
#userList #friendList li + li {
  border-top: solid 1px #343434;
}

#userDetail header h2 {
  margin-bottom: 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: solid 1px #19B5FE;
  font-size: 15px;
  padding-bottom: 5px;
}
#userDetail header #userIcon {
  float: left;
  width: 45%;
  height: 45%;
  overflow: hidden;
}
#userDetail header #userIcon img {
  width: 100%;
  height: auto;
}
#userDetail header #userInfo {
  float: right;
  width: 50%;
}
#userDetail header #userInfo div {
  margin-bottom: 15px;
}

section#userPosts h2 {
  margin-bottom: 5px;
  border-bottom: solid 1px #19B5FE;
  margin-bottom: 15px;
}
section#userPosts #setting_new .companyName, section#userPosts #userList .companyName, section#userPosts #userDetail header .companyName, #userDetail section#userPosts header .companyName, section#userPosts h2 .companyName, section#userPosts .posts .companyName, section#userPosts #detailPosts .companyName, section#userPosts #companys .companyName, section#userPosts #companyDetail header .companyName, #companyDetail section#userPosts header .companyName, section#userPosts section#companyUsersPosts h2 .companyName, section#companyUsersPosts section#userPosts h2 .companyName {
  margin-bottom: 10px;
}
section#userPosts #setting_new p, section#userPosts #userList p, section#userPosts #userDetail header p, #userDetail section#userPosts header p, section#userPosts h2 p, section#userPosts .posts p, section#userPosts #detailPosts p, section#userPosts #companys p, section#userPosts #companyDetail header p, #companyDetail section#userPosts header p, section#userPosts section#companyUsersPosts h2 p, section#companyUsersPosts section#userPosts h2 p {
  width: 100%;
  line-height: 150%;
  word-break: break-all;
}
section#userPosts #setting_new .commentArea, section#userPosts #userList .commentArea, section#userPosts #userDetail header .commentArea, #userDetail section#userPosts header .commentArea, section#userPosts h2 .commentArea, section#userPosts .posts .commentArea, section#userPosts #detailPosts .commentArea, section#userPosts #companys .commentArea, section#userPosts #companyDetail header .commentArea, #companyDetail section#userPosts header .commentArea, section#userPosts section#companyUsersPosts h2 .commentArea, section#companyUsersPosts section#userPosts h2 .commentArea {
  width: 100%;
}
section#userPosts #setting_new .commentArea ul, section#userPosts #userList .commentArea ul, section#userPosts #userDetail header .commentArea ul, #userDetail section#userPosts header .commentArea ul, section#userPosts h2 .commentArea ul, section#userPosts .posts .commentArea ul, section#userPosts #detailPosts .commentArea ul, section#userPosts #companys .commentArea ul, section#userPosts #companyDetail header .commentArea ul, #companyDetail section#userPosts header .commentArea ul, section#userPosts section#companyUsersPosts h2 .commentArea ul, section#companyUsersPosts section#userPosts h2 .commentArea ul {
  margin-top: 15px;
  border-top: solid 1px #d9d9d9;
}
section#userPosts #setting_new .commentArea ul li, section#userPosts #userList .commentArea ul li, section#userPosts #userDetail header .commentArea ul li, #userDetail section#userPosts header .commentArea ul li, section#userPosts h2 .commentArea ul li, section#userPosts .posts .commentArea ul li, section#userPosts #detailPosts .commentArea ul li, section#userPosts #companys .commentArea ul li, section#userPosts #companyDetail header .commentArea ul li, #companyDetail section#userPosts header .commentArea ul li, section#userPosts section#companyUsersPosts h2 .commentArea ul li, section#companyUsersPosts section#userPosts h2 .commentArea ul li {
  text-align: center;
  float: left;
  width: 50%;
  margin-top: 8px;
}
section#userPosts #setting_new .commentArea ul li a, section#userPosts #userList .commentArea ul li a, section#userPosts #userDetail header .commentArea ul li a, #userDetail section#userPosts header .commentArea ul li a, section#userPosts h2 .commentArea ul li a, section#userPosts .posts .commentArea ul li a, section#userPosts #detailPosts .commentArea ul li a, section#userPosts #companys .commentArea ul li a, section#userPosts #companyDetail header .commentArea ul li a, #companyDetail section#userPosts header .commentArea ul li a, section#userPosts section#companyUsersPosts h2 .commentArea ul li a, section#companyUsersPosts section#userPosts h2 .commentArea ul li a {
  display: inline-block;
  width: 100%;
  height: 25px;
  line-height: 25px;
  color: #343434;
  text-decoration: none;
}

#detailPosts header h2 {
  float: left;
  width: 70px;
  height: 70px;
  overflow: hidden;
}
#detailPosts header h2 img {
  width: 70px;
  height: auto;
}
#detailPosts header .userInfo {
  display: inline-block;
  height: 70px;
  float: left;
  margin-left: 20px;
  position: relative;
}
#detailPosts header .userInfo h3 {
  margin-bottom: 10px;
}
#detailPosts header .userInfo time {
  display: inline-block;
  position: absolute;
  bottom: 20px;
}
#detailPosts .postDetails {
  width: 100%;
  margin-top: 10px;
}
#detailPosts .postDetails .companyName {
  margin-bottom: 10px;
}
#detailPosts .postDetails p {
  width: 100%;
  line-height: 150%;
  word-break: break-all;
}
#detailPosts .commentArea {
  width: 100%;
  margin-top: 15px;
  padding-top: 15px;
  border-top: solid 1px #d9d9d9;
}
#detailPosts .commentArea #commentForm input[type="text"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 80%;
  height: 30px;
  line-height: 30px;
  border: none;
}
#detailPosts .commentArea #commentForm input[type="submit"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 20%;
  height: 30px;
  border: solid 1px #343434;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-color: #fdfdfd;
}
#detailPosts .commentArea .comments {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin-top: 15px;
  padding-top: 15px;
  border-top: solid 1px #d9d9d9;
}
#detailPosts .commentArea .comments .commentUserIcon {
  float: left;
  width: 45px;
  height: 45px;
}
#detailPosts .commentArea .comments .commentUserIcon img {
  width: 100%;
  height: auto;
}
#detailPosts .commentArea .comments .comment {
  float: right;
  width: 80%;
  word-break: break-all;
}
#detailPosts .commentArea .comments .comment h4 {
  display: inline-block;
  margin-bottom: 5px;
}
#detailPosts .commentArea .comments .comment div {
  line-height: 120%;
}

#companys h2 {
  margin-bottom: 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: solid 1px #19B5FE;
  font-size: 15px;
  padding-bottom: 5px;
}
#companys #companyList li {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
}
#companys #companyList li a {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  text-decoration: none;
  color: #343434;
}
#companys #companyList li a #companyIcon {
  float: left;
  width: 70px;
  height: 70px;
  line-height: 70px;
  overflow: hidden;
}
#companys #companyList li a #companyIcon img {
  width: 100%;
  height: auto;
}
#companys #companyList li a #companyInfo {
  float: left;
  display: inline-block;
  width: 150px;
  height: 70px;
  margin-left: 20px;
  position: relative;
}
#companys #companyList li a #companyInfo h3 {
  position: absolute;
  top: 10px;
}
#companys #companyList li a #companyInfo #category {
  position: absolute;
  bottom: 10px;
}
#companys #companyList li + li {
  border-top: solid 1px #343434;
}

#companyDetail header h2 {
  margin-bottom: 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: solid 1px #19B5FE;
  font-size: 15px;
  padding-bottom: 5px;
}
#companyDetail header #companyIcon {
  float: left;
  width: 45%;
  height: 45%;
  overflow: hidden;
}
#companyDetail header #companyIcon img {
  width: 100%;
  height: auto;
}
#companyDetail header #companyInfo {
  float: right;
  width: 50%;
}
#companyDetail header #companyInfo div {
  margin-bottom: 15px;
}

section#companyUsersPosts h2 {
  margin-bottom: 5px;
  margin-bottom: 15px;
}
section#companyUsersPosts header h3 {
  float: left;
  width: 70px;
  height: 70px;
  overflow: hidden;
}
section#companyUsersPosts header h3 img {
  width: 70px;
  height: auto;
}
section#companyUsersPosts header .userInfo {
  display: inline-block;
  height: 70px;
  float: left;
  margin-left: 20px;
  position: relative;
}
section#companyUsersPosts header .userInfo h4 {
  margin-bottom: 10px;
}
section#companyUsersPosts header .userInfo time {
  display: inline-block;
  position: absolute;
  bottom: 20px;
}
section#companyUsersPosts .postDetails {
  width: 100%;
  margin-top: 10px;
}
section#companyUsersPosts .postDetails .companyName {
  margin-bottom: 10px;
}
section#companyUsersPosts .postDetails p {
  width: 100%;
  line-height: 150%;
  word-break: break-all;
}
section#companyUsersPosts .commentArea {
  width: 100%;
}
section#companyUsersPosts .commentArea ul {
  margin-top: 15px;
  border-top: solid 1px #d9d9d9;
}
section#companyUsersPosts .commentArea ul li {
  text-align: center;
  float: left;
  width: 50%;
  margin-top: 8px;
}
section#companyUsersPosts .commentArea ul li a {
  display: inline-block;
  width: 100%;
  height: 25px;
  line-height: 25px;
  color: #343434;
  text-decoration: none;
}
