@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

header#header, #postTimeline .posts header, #postTimeline #setting_new header, #postTimeline #userList header, #postTimeline #userDetail header header, #userDetail #postTimeline header header, #postTimeline section#userPosts h2 header, section#userPosts #postTimeline h2 header, #postTimeline .posts .commentArea ul, #postTimeline #setting_new .commentArea ul, #postTimeline #userList .commentArea ul, #postTimeline #userDetail header .commentArea ul, #userDetail #postTimeline header .commentArea ul, #postTimeline section#userPosts h2 .commentArea ul, section#userPosts #postTimeline h2 .commentArea ul, #userList #friendList li a, #userDetail header {
  overflow: hidden;
  *zoom: 1;
}

html {
  height: 100%;
  font-size: 13px;
  font-family: Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}
html body {
  height: 100%;
  background: #d9d9d9;
}

#wrapperImg {
  width: 100%;
  height: 100%;
  min-height: 100%;
  min-height: 100%;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
#wrapperImg img {
  width: 100%;
  height: auto;
}

#indexLogo, #indexWrapper {
  position: absolute;
  z-index: 2;
}

#indexLogo {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  top: 130px;
}
#indexLogo h1 {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

#indexWrapper {
  display: inline-block;
  width: 100%;
  bottom: 100px;
}
#indexWrapper #indexForm {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
#indexWrapper #indexForm div {
  width: 100%;
  text-align: center;
}
#indexWrapper #indexForm div input[type="text"],
#indexWrapper #indexForm div input[type="password"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  line-height: 30px;
  padding: 5px;
  margin-bottom: 20px;
  border: none;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
#indexWrapper #indexForm div input[type="submit"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 100%;
  height: 40px;
  line-height: 40px;
  margin-bottom: 50px;
  border: none;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  color: #fdfdfd;
  background-color: #efa531;
}
#indexWrapper #fbLogin {
  width: 250px;
  margin: 0 auto;
  height: 50px;
  background-color: #3b5998;
  -moz-box-shadow: 0 5px #244886;
  -webkit-box-shadow: 0 5px #244886;
  box-shadow: 0 5px #244886;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
#indexWrapper #fbLogin a {
  display: inline-block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  color: #fdfdfd;
}

#indexWrapper + footer {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 20px;
  z-index: 2;
  font-size: 12px;
  color: #fdfdfd;
}

footer {
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 12px;
  background-color: #343434;
  color: #fdfdfd;
}

header#header {
  background-color: #19B5FE;
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
}
header#header h1 {
  float: left;
  width: 100px;
  height: 50px;
  margin-left: 5px;
  line-height: 50px;
}
header#header h1 a {
  display: inline-block;
  width: 100px;
  height: 50px;
  line-height: 50px;
}
header#header #setting {
  float: right;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  line-height: 30px;
  padding: 10px;
}
header#header #setting a {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  height: 100%;
}
header#header #setting a img {
  width: 100%;
  height: auto;
}

#wrapper {
  width: 96%;
  margin: 0 auto;
}

#sendPost {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  background-color: #fdfdfd;
  margin-bottom: 15px;
}
#sendPost #postText {
  width: 100%;
  height: 100px;
}
#sendPost #postText textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: solid 1px #343434;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  padding: 5px;
  width: 100%;
  height: 100px;
}
#sendPost #sendBtn {
  margin-top: 10px;
  width: 100%;
  height: 40px;
  line-height: 40px;
}
#sendPost #sendBtn input[type="submit"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: none;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-color: #19B5FE;
  color: #fdfdfd;
}

.posts, #postTimeline .posts, #setting_new, #userList, #userDetail header, section#userPosts h2, section#userPosts .posts {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 15px;
  background-color: #fdfdfd;
  margin-bottom: 15px;
}

#postTimeline {
  width: 100%;
}
#postTimeline .posts header h2, #postTimeline #setting_new header h2, #postTimeline #userList header h2, #postTimeline #userDetail header header h2, #userDetail #postTimeline header header h2, #postTimeline section#userPosts h2 header h2, section#userPosts #postTimeline h2 header h2 {
  float: left;
  width: 70px;
  height: 70px;
  overflow: hidden;
}
#postTimeline .posts header h2 img, #postTimeline #setting_new header h2 img, #postTimeline #userList header h2 img, #postTimeline #userDetail header header h2 img, #userDetail #postTimeline header header h2 img, #postTimeline section#userPosts h2 header h2 img, section#userPosts #postTimeline h2 header h2 img {
  width: 70px;
  height: auto;
}
#postTimeline .posts header .userInfo, #postTimeline #setting_new header .userInfo, #postTimeline #userList header .userInfo, #postTimeline #userDetail header header .userInfo, #userDetail #postTimeline header header .userInfo, #postTimeline section#userPosts h2 header .userInfo, section#userPosts #postTimeline h2 header .userInfo {
  display: inline-block;
  height: 70px;
  float: left;
  margin-left: 20px;
  position: relative;
}
#postTimeline .posts header .userInfo h3, #postTimeline #setting_new header .userInfo h3, #postTimeline #userList header .userInfo h3, #postTimeline #userDetail header header .userInfo h3, #userDetail #postTimeline header header .userInfo h3, #postTimeline section#userPosts h2 header .userInfo h3, section#userPosts #postTimeline h2 header .userInfo h3 {
  margin-bottom: 10px;
}
#postTimeline .posts header .userInfo time, #postTimeline #setting_new header .userInfo time, #postTimeline #userList header .userInfo time, #postTimeline #userDetail header header .userInfo time, #userDetail #postTimeline header header .userInfo time, #postTimeline section#userPosts h2 header .userInfo time, section#userPosts #postTimeline h2 header .userInfo time {
  display: inline-block;
  position: absolute;
  bottom: 20px;
}
#postTimeline .posts .postDetails, #postTimeline #setting_new .postDetails, #postTimeline #userList .postDetails, #postTimeline #userDetail header .postDetails, #userDetail #postTimeline header .postDetails, #postTimeline section#userPosts h2 .postDetails, section#userPosts #postTimeline h2 .postDetails {
  width: 100%;
  margin-top: 10px;
}
#postTimeline .posts .postDetails .companyName, #postTimeline #setting_new .postDetails .companyName, #postTimeline #userList .postDetails .companyName, #postTimeline #userDetail header .postDetails .companyName, #userDetail #postTimeline header .postDetails .companyName, #postTimeline section#userPosts h2 .postDetails .companyName, section#userPosts #postTimeline h2 .postDetails .companyName {
  margin-bottom: 10px;
}
#postTimeline .posts .postDetails p, #postTimeline #setting_new .postDetails p, #postTimeline #userList .postDetails p, #postTimeline #userDetail header .postDetails p, #userDetail #postTimeline header .postDetails p, #postTimeline section#userPosts h2 .postDetails p, section#userPosts #postTimeline h2 .postDetails p {
  width: 100%;
  word-break: break-all;
}
#postTimeline .posts .commentArea, #postTimeline #setting_new .commentArea, #postTimeline #userList .commentArea, #postTimeline #userDetail header .commentArea, #userDetail #postTimeline header .commentArea, #postTimeline section#userPosts h2 .commentArea, section#userPosts #postTimeline h2 .commentArea {
  width: 100%;
}
#postTimeline .posts .commentArea ul, #postTimeline #setting_new .commentArea ul, #postTimeline #userList .commentArea ul, #postTimeline #userDetail header .commentArea ul, #userDetail #postTimeline header .commentArea ul, #postTimeline section#userPosts h2 .commentArea ul, section#userPosts #postTimeline h2 .commentArea ul {
  margin-top: 15px;
  border-top: solid 1px #d9d9d9;
}
#postTimeline .posts .commentArea ul li, #postTimeline #setting_new .commentArea ul li, #postTimeline #userList .commentArea ul li, #postTimeline #userDetail header .commentArea ul li, #userDetail #postTimeline header .commentArea ul li, #postTimeline section#userPosts h2 .commentArea ul li, section#userPosts #postTimeline h2 .commentArea ul li {
  text-align: center;
  float: left;
  width: 50%;
  margin-top: 8px;
}
#postTimeline .posts .commentArea ul li a, #postTimeline #setting_new .commentArea ul li a, #postTimeline #userList .commentArea ul li a, #postTimeline #userDetail header .commentArea ul li a, #userDetail #postTimeline header .commentArea ul li a, #postTimeline section#userPosts h2 .commentArea ul li a, section#userPosts #postTimeline h2 .commentArea ul li a {
  display: inline-block;
  width: 100%;
  height: 25px;
  line-height: 25px;
  text-decoration: none;
}

#setting_new h2 {
  margin-bottom: 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: solid 1px #19B5FE;
  font-size: 15px;
  padding-bottom: 5px;
}
#setting_new form div {
  margin-bottom: 5px;
}
#setting_new form input[type="text"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  line-height: 30px;
  margin-bottom: 15px;
  border: solid 1px #343434;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
#setting_new form select {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: solid 1px #343434;
  width: 100%;
  height: 35px;
  margin-bottom: 15px;
}
#setting_new form div#userIcon {
  width: 200px;
  height: 200px;
  margin: 15px auto;
  overflow: hidden;
}
#setting_new form div#userIcon img {
  width: 100%;
  height: auto;
}
#setting_new form input[type="submit"] {
  width: 100%;
  height: 35px;
  line-height: 30px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: #19B5FE;
  color: #fdfdfd;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: none;
}

#userList h2 {
  margin-bottom: 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: solid 1px #19B5FE;
  font-size: 15px;
  padding-bottom: 5px;
}
#userList #friendList li {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
}
#userList #friendList li a {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  text-decoration: none;
  color: #343434;
}
#userList #friendList li a #userIcon {
  float: left;
  width: 70px;
  height: 70px;
  overflow: hidden;
}
#userList #friendList li a #userIcon img {
  width: 100%;
  height: auto;
}
#userList #friendList li a #userInfo {
  float: left;
  display: inline-block;
  width: 150px;
  height: 70px;
  margin-left: 20px;
  position: relative;
}
#userList #friendList li a #userInfo h3 {
  position: absolute;
  top: 10px;
}
#userList #friendList li a #userInfo #school {
  position: absolute;
  bottom: 10px;
}
#userList #friendList li + li {
  border-top: solid 1px #343434;
}

#userDetail header h2 {
  margin-bottom: 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: solid 1px #19B5FE;
  font-size: 15px;
  padding-bottom: 5px;
}
#userDetail header #userIcon {
  float: left;
  width: 45%;
  height: 45%;
  overflow: hidden;
}
#userDetail header #userIcon img {
  width: 100%;
  height: auto;
}
#userDetail header #userInfo {
  float: right;
  width: 50%;
}
#userDetail header #userInfo div {
  margin-bottom: 15px;
}

section#userPosts h2 {
  margin-bottom: 5px;
  border-bottom: solid 1px #19B5FE;
  margin-bottom: 15px;
}
