@charset "utf-8";
@import "compass/reset";
@import "compass";

$main: #19B5FE;
$attention: #F9BF3B;
$gray: #d9d9d9;
$black: #343434;
$white: #fdfdfd;
$fbColor: #3b5998;
$font: Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;

// extend clearfix
%clearfix{
  @include clearfix;
}

html{
  height: 100%;
  font-size: 13px;
  font-family: $font;
  body{
    height: 100%;
    background: $gray;
  }
}

// top Style
#wrapperImg{
  width: 100%;
  height: 100%;
  min-height: 100%;
  min-height: 100%;
  position: relative;
  z-index: 1;
  overflow: hidden;
  img{
    width: 100%;
    height: auto;
  }
}
#indexLogo,#indexWrapper{
  position: absolute;
  z-index: 2;
}
#indexLogo{
  width: 100%;
  margin: 0 auto;
  text-align: center;
  top: 130px;
  h1{
    width: 70%;
    margin: 0 auto;
    text-align: center;
  }
}
#indexWrapper{
  display: inline-block;
  width: 100%;
  bottom: 100px;
  #indexForm{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    div{
      width: 100%;
      text-align: center;
      input[type="text"],
      input[type="password"]{
        @include appearance(none);
        @include box-sizing(border-box);
        width: 100%;
        height: 30px;
        line-height: 30px;
        padding: 5px;
        margin-bottom: 20px;
        border: none;
        @include border-radius(8px);
      }
      input[type="submit"] {
        @include appearance(none);
        width: 100%;
        height: 40px;
        line-height: 40px;
        margin-bottom: 50px;
        border: none;
        @include border-radius(8px);
        color: $white;
        background-color: #efa531;
      }
    }
  }
  #fbLogin{
    width: 250px;
    margin: 0 auto;
    height: 50px;
    background-color: $fbColor;
    @include box-shadow(0 5px #244886);
    @include border-radius(8px);
    a{
      display: inline-block;
      width: 100%;
      height: 50px;
      line-height: 50px;
      text-align: center;
      text-decoration: none;
      color: $white;
    }
  }
}

#indexWrapper + footer{
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 20px;
  z-index: 2;
  font-size: 12px;
  color: $white;
}
footer{
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 12px;
  background-color: $black;
  color: $white;
}

// logined user Style
header#header{
  @extend %clearfix;
  background-color: $main;
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  h1{
    float: left;
    width: 100px;
    height: 50px;
    margin-left: 5px;
    line-height: 50px;
    a{
      display: inline-block;
      width: 100px;
      height: 50px;
      line-height: 50px;
    }
  }
  #setting{
    float: right;
    @include box-sizing(border-box);
    width: 50px;
    height: 50px;
    line-height: 30px;
    padding: 10px;
    a{
      @include box-sizing(border-box);
      display: inline-block;
      width: 100%;
      height: 100%;
      img{
        width: 100%;
        height: auto;
      }
    }
  }
}

#wrapper{
  width: 96%;
  margin: 0 auto;
}

// time line page style
#sendPost{
  @include box-sizing(border-box);
  width: 100%;
  padding: 10px;
  background-color: $white;
  margin-bottom: 15px;
  #postText{
    width: 100%;
    height: 100px;
    textarea{
      @include appearance(none);
      @include box-sizing(border-box);
      border: solid 1px $black;
      @include border-radius(8px);
      padding: 5px;
      width: 100%;
      height: 100px;
    }
  }
  #sendBtn{
    margin-top: 10px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    input[type="submit"]{
      @include appearance(none);
      width: 100%;
      height: 40px;
      line-height: 40px;
      text-align: center;
      border: none;
      @include border-radius(8px);
      background-color: $main;
      color: $white;
    }
  }
}
.posts{
  @include box-sizing(border-box);
  width: 100%;
  padding: 15px;
  background-color: $white;
  margin-bottom: 15px;
}
#postTimeline{
  width: 100%;
  .posts{
    @extend .posts;
    header{
      @extend %clearfix;
      h2{
        float: left;
        width: 70px;
        height: 70px;
        overflow: hidden;
        img{
          width: 70px;
          height: auto;
        }
      }
      .userInfo{
        display: inline-block;
        height: 70px;
        float: left;
        margin-left: 20px;
        position: relative;
        h3{
          margin-bottom: 10px;
        }
        time{
          display: inline-block;
          position: absolute;
          bottom: 20px;
        }
      }
    }
    .postDetails{
      width: 100%;
      margin-top: 10px;
      .companyName{
        margin-bottom: 10px;
      }
      p{
        width: 100%;
        line-height: 150%;
        word-break: break-all;
      }
    }
    .commentArea{
      width: 100%;
      ul{
        @extend %clearfix;
        margin-top: 15px;
        border-top: solid 1px $gray;
        li{
          text-align: center;
          float: left;
          width: 50%;
          margin-top: 8px;
          a{
            display: inline-block;
            width: 100%;
            height: 25px;
            line-height: 25px;
            text-decoration: none;
            color: $black;
          }
        }
      }
    }
  }
}
#setting_new{
  @extend .posts;
  h2{
    margin-bottom: 15px;
    @include box-sizing(border-box);
    border-bottom: solid 1px $main;
    font-size: 15px;
    padding-bottom: 5px;
  }
  form{
    div{
      margin-bottom: 5px;
    }
    input[type="text"]{
      @include appearance(none);
      @include box-sizing(border-box);
      width: 100%;
      height: 30px;
      line-height: 30px;
      margin-bottom: 15px;
      border: solid 1px $black;
      @include border-radius(8px);
    }
    select{
      @include box-sizing(border-box);
      background: solid 1px $black;
      width: 100%;
      height: 35px;
      margin-bottom: 15px;
    }
    div#userIcon{
      width: 200px;
      height: 200px;
      margin: 15px auto;
      overflow: hidden;
      img{
        width: 100%;
        height: auto;
      }
    }
    input[type="submit"]{
      width: 100%;
      height: 35px;
      line-height: 30px;
      @include box-sizing(border-box);
      @include appearance(none);
      background-color: $main;
      color: $white;
      @include border-radius(8px);
      border: none;
    }
  }
}
#userList{
  @extend .posts;
  h2{
    margin-bottom: 15px;
    @include box-sizing(border-box);
    border-bottom: solid 1px $main;
    font-size: 15px;
    padding-bottom: 5px;
  }
  #friendList{
    li{
      @include box-sizing(border-box);
      width: 100%;
      padding: 10px;
      a{
        @extend %clearfix;
        @include box-sizing(border-box);
        display: inline-block;
        width: 100%;
        text-decoration: none;
        color: $black;
        #userIcon{
          float: left;
          width: 70px;
          height: 70px;
          overflow: hidden;
          img{
            width: 100%;
            height: auto;
          }
        }
        #userInfo{
          float: left;
          display: inline-block;
          width: 150px;
          height: 70px;
          margin-left: 20px;
          position: relative;
          h3{
            position: absolute;
            top: 10px;
          }
          #school{
            position: absolute;
            bottom: 10px;
          }
        }
      }
      & + li{
        border-top: solid 1px $black;
      }
    }
  }
}

#userDetail{
  header{
    @extend .posts;
    @extend %clearfix;
    h2{
      margin-bottom: 15px;
      @include box-sizing(border-box);
      border-bottom: solid 1px $main;
      font-size: 15px;
      padding-bottom: 5px;
    }
    #userIcon{
      float: left;
      width: 45%;
      height: 45%;
      overflow: hidden;
      img{
        width: 100%;
        height: auto;
      }
    }
    #userInfo{
      float: right;
      width: 50%;
      div{
        margin-bottom: 15px;
      }
    }
  }
}
section#userPosts{
  h2{
    @extend .posts;
    margin-bottom: 5px;
    border-bottom: solid 1px $main;
    margin-bottom: 15px;
  }
  .posts{
    @extend .posts;
    .companyName{
      margin-bottom: 10px;
    }
    p{
      width: 100%;
      line-height: 150%;
      word-break: break-all;
    }
    .commentArea{
      width: 100%;
      ul{
        @extend %clearfix;
        margin-top: 15px;
        border-top: solid 1px $gray;
        li{
          text-align: center;
          float: left;
          width: 50%;
          margin-top: 8px;
          a{
            display: inline-block;
            width: 100%;
            height: 25px;
            line-height: 25px;
            color: $black;
            text-decoration: none;
          }
        }
      }
    }
  }
}
#detailPosts{
  @extend .posts;
  header{
    @extend %clearfix;
    h2{
      float: left;
      width: 70px;
      height: 70px;
      overflow: hidden;
      img{
        width: 70px;
        height: auto;
      }
    }
    .userInfo{
      display: inline-block;
      height: 70px;
      float: left;
      margin-left: 20px;
      position: relative;
      h3{
        margin-bottom: 10px;
      }
      time{
        display: inline-block;
        position: absolute;
        bottom: 20px;
      }
    }
  }
  .postDetails{
    width: 100%;
    margin-top: 10px;
    .companyName{
      margin-bottom: 10px;
    }
    p{
      width: 100%;
      line-height: 150%;
      word-break: break-all;
    }
  }
  .commentArea{
    width: 100%;
    margin-top: 15px;
    padding-top: 15px;
    border-top: solid 1px $gray;
    #commentForm{
      @extend %clearfix;
      input[type="text"]{
        @include appearance(none);
        @include box-sizing(border-box);
        float: left;
        width: 80%;
        height: 30px;
        line-height: 30px;
        border: none;
      }
      input[type="submit"]{
        @include appearance(none);
        @include box-sizing(border-box);
        float: left;
        width: 20%;
        height: 30px;
        border: solid 1px $black;
        @include border-radius(8px);
        background-color: $white;
      }
    }
    .comments{
      @extend %clearfix;
      @include box-sizing(border-box);
      width: 100%;
      margin-top: 15px;
      padding-top: 15px;
      border-top: solid 1px $gray;
      .commentUserIcon{
        float: left;
        width: 45px;
        height: 45px;
        img{
          width: 100%;
          height: auto;
        }
      }
      .comment{
        float: right;
        width: 80%;
        word-break: break-all;
        h4{
          display: inline-block;
          margin-bottom: 5px;
        }
        div{
          line-height: 120%;
        }
      }

    }
  }
}
